body {
  background-color: var(--dark-background) !important;
  color: var(--dark-text) !important;
}

.theme-dark {
  --dark-text: #ffffff;
  --light-text: #000000;
  --dark-background: #352f44;
  --light-background: #020202;
  --menu-background: #211c2c;
  --menu-text-color: #fff;
  --accent: #b8dbd9;
}

.theme-light {
  --dark-text: #030303;
  --light-text: #ffffff;
  --dark-background: #dbd8e3;
  --light-background: #dbd8e3;
  --menu-background: #5c5470ab;
  --menu-text-color: #fff;
  --accent: #dbe7e4;
}
